@model Booking.Core.Entities.GymClass
<tr>
    <td>
        @Html.DisplayFor(item => item.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(item => item.Duration)
    </td>
    <td>
        @Html.DisplayFor(item => item.Description)
    </td>
    <td>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <span> | </span>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <span> | </span>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <span> | </span>
            <a asp-action="BookingToggle" asp-route-id="@Model.Id">Book/Unbook</a>
        }

    </td>
</tr>
